body {
  background-color: hsl(12, 100%, 50%);
}

header {
  color: white;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

hr {
  border: 1px solid white;
}

main {
  background-color: white;
  border: 10px solid hsl(12, 100%, 50%);
  border-bottom: 20px solid hsl(12, 100%, 50%);
}

figcaption {
  color: hsl(12, 68%, 44%);
  font-size: 1.5em;
}

summary {
  color: hsl(12, 68%, 44%);
  font-size: 1em;
  margin-left: 40px;
}

section {
  background-color: hsl(13, 37%, 93%);
  border: 1px solid hsl(12, 14%, 64%);
  margin: 10px;
}

footer {
  background-color: hsl(12, 100%, 50%);
  color: white;
  text-align: center;
  padding-bottom: 5px;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

a:hover {
  color: hsl(0, 0%, 100%);
}